/*
	Author: Nerdissimo a.k.a. Sergio Terrasi
	Website: http://www.nerdissimo.it
	email: dev@nerdissimo.it
	GitHub: https://github.com/Nerdissimo/
	Twitter: @Nerdissimo
*/
@charset 'utf-8';

.bg-skulls {
	background-color:		#000;

	background-image:		radial-gradient(ellipse at center, #000 0, #000 4px, transparent 4px, transparent 100%), /* naso */
							radial-gradient(ellipse at center, #000 0, #000 8px, transparent 8px, transparent 100%), /* occhio */
							radial-gradient(ellipse at center, #000 0, #000 8px, transparent 8px, transparent 100%), /* occhio */
							radial-gradient(ellipse at center, #fff 0, #fff 27px, transparent 27px, transparent 100%), /* cranio */
							linear-gradient(to bottom, #000 0, #000 24px, transparent 24px, transparent 100%), /* spezza-mandibola */
							linear-gradient(to right, #000 0, #000 38px, transparent 38px, transparent 62px, #000 62px, #000 100%), /* spezza-spezza-denti */
							linear-gradient(to bottom, transparent 0, transparent 48px, #fff 48px, #fff 53px, transparent 53px, transparent 100%), /* spezza-dente-lungo-sopra */
							linear-gradient(to bottom, transparent 0, transparent 61px, #fff 61px, #fff 65px, transparent 65px, transparent 100%), /* spezza-dente-lungo-sotto */
							linear-gradient(to right, transparent 0, transparent 53px, #000 53px, #000 55px, transparent 55px, transparent 100%), /* dente */
							linear-gradient(to right, transparent 0, transparent 45px, #000 45px, #000 47px, transparent 47px, transparent 100%), /* dente */
							linear-gradient(to bottom, transparent 0, transparent 48px, #fff 48px, #fff 54px, transparent 54px, transparent 100%), /* spezza-dente-corto-sopra */
							linear-gradient(to bottom, transparent 0, transparent 60px, #fff 60px, #fff 65px, transparent 65px, transparent 100%), /* spezza-dente-corto-sotto */
							linear-gradient(to right, transparent 0, transparent 57px, #000 57px, #000 59px, transparent 59px, transparent 100%), /* dente */
							linear-gradient(to right, transparent 0, transparent 49px, #000 49px, #000 51px, transparent 51px, transparent 100%), /* dente */
							linear-gradient(to right, transparent 0, transparent 41px, #000 41px, #000 43px, transparent 43px, transparent 100%), /* dente */
							linear-gradient(to bottom, transparent 0, transparent 56px, #000 56px, #000 58px, transparent 58px, transparent 100%), /* bocca */
							linear-gradient(to right, transparent 0, transparent 38px, #fff 38px, #fff 62px, transparent 62px, transparent 100%); /* mandibola */
	
	background-size: 		100px 75px, /* naso */
							100px 75px, /* occhio */
							100px 75px, /* occhio */
							100px 75px, /* cranio */
							100px 75px, /* spezza-mandibola */
							100px 75px, /* spezza-spezza-denti */
							100px 75px, /* spezza-dente-lungo-sopra */
							100px 75px, /* spezza-dente-lungo-sotto */
							100px 100px, /* dente */
							100px 100px, /* dente */
							100px 75px, /* spezza-dente-corto-sopra */
							100px 75px, /* spezza-dente-corto-sotto */
							100px 100px, /* dente */
							100px 100px, /* dente */
							100px 100px, /* dente */
							100px 75px, /* bocca*/
							100px 100px; /* mandibola */
	
	background-position:	0 7px, /* naso */
							-11px -2px, /* occhio*/
							11px -2px, /* occhio */
							0 -6px, /* cranio */
							0 -11px, /* spezza-mandibola */
							0 0, /* spezza-spezza-denti */
							0 0, /* spezza-dente-lungo-sopra */
							0 0, /* spezza-dente-lungo-sotto */
							0 0, /* dente */
							0 0, /* dente */
							0 0, /* spezza-dente-corto-sopra */
							0 0, /* spezza-dente-corto-sotto */
							0 0, /* dente */
							0 0, /* dente */
							0 0, /* dente */
							0 0, /* bocca */
							0 0; /* mandibola */
	
	background-repeat:		repeat, /* naso */
							repeat, /* occhio */
							repeat, /* occhio */
							repeat, /* cranio */
							repeat, /* spezza-mandibola */
							repeat, /* spezza-spezza-denti */
							repeat, /* spezza-dente-lungo-sopra */
							repeat, /* spezza-dente-lungo-sotto */
							repeat, /* dente */
							repeat, /* dente */
							repeat, /* spezza-dente-corto-sopra */
							repeat, /* spezza-dente-corto-sotto */
							repeat, /* dente */
							repeat, /* dente */
							repeat, /* dente */
							repeat, /* bocca */
							repeat; /* mandibola */
}